@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './xy-theme.css';

:root {
	--radius: 0.625rem;

	--background: oklch(0.979 0.009 264.523);
	--foreground: oklch(0.159 0.026 261.067);

	--primary: oklch(0.616 0.183 262.945);
	--primary-foreground: oklch(0.961 0.017 267.791);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.159 0.026 261.067);

	--popover: oklch(0.991 0.004 271.371);
	--popover-foreground: oklch(0.159 0.026 261.067);

	--secondary: oklch(0.941 0.025 263.328);
	--secondary-foreground: oklch(0 0 0);

	--muted: oklch(0.961 0.017 267.791);
	--muted-foreground: oklch(0.51 0 0);

	--accent: oklch(0.961 0.017 267.791);
	--accent-foreground: oklch(0.189 0.037 264.087);

	--destructive: oklch(0.637 0.208 25.331);
	--destructive-foreground: oklch(0.984 0.003 247.858);

	--border: oklch(0.891 0.02 267.275);

	--input: oklch(0.853 0.021 264.458);

	--ring: oklch(0.616 0.183 262.945);

	--chart-1: oklch(0.616 0.183 262.945);
	--chart-2: oklch(0.669 0.154 263.774);
	--chart-3: oklch(0.745 0.116 264.165);
	--chart-4: oklch(0.784 0.096 264.61);
	--chart-5: oklch(0.823 0.079 264.692);

	--sidebar: oklch(0.957 0.019 265.984);
	--sidebar-foreground: oklch(0.159 0.026 261.067);
	--sidebar-primary: oklch(0.616 0.183 262.945);
	--sidebar-primary-foreground: oklch(0.961 0.017 267.791);
	--sidebar-accent: oklch(0.616 0.183 262.945);
	--sidebar-accent-foreground: oklch(0.961 0.017 267.791);
	--sidebar-border: oklch(0.921 0.034 265.229);
	--sidebar-ring: oklch(0.616 0.183 262.945);

	--data-enrichment: oklch(0.616 0.183 262.945);
	--data-transformation: oklch(74.16% 0.18108 124.002);
	--parsing-and-extraction: oklch(81.511% 0.14191 81.163);
	--filtering-and-cleanup: oklch(58.083% 0.23912 298.47);
	--advanced: oklch(58.125% 0.17931 141.757);
	--conditional: oklch(65.919% 0.21285 359.391);
}

.dark {
	--background: oklch(0.199 0.014 258.366);
	--foreground: oklch(0.941 0.025 263.328);

	--primary: oklch(0.616 0.183 262.945);
	--primary-foreground: oklch(0.961 0.017 267.791);

	--card: oklch(0.218 0.027 265.11);
	--card-foreground: oklch(0.941 0.025 263.328);

	--popover: oklch(0.268 0.008 264.432);
	--popover-foreground: oklch(0.941 0.025 263.328);

	--secondary: oklch(0.3 0.077 263.377);
	--secondary-foreground: oklch(1 0 0);

	--muted: oklch(0.259 0.025 261.09);
	--muted-foreground: oklch(0.616 0.024 265.659);

	--accent: oklch(0.3 0.077 263.377);
	--accent-foreground: oklch(0.941 0.025 263.328);

	--destructive: oklch(0.637 0.208 25.331);
	--destructive-foreground: oklch(0.984 0.003 247.858);

	--border: oklch(0.313 0.017 266.401);

	--input: oklch(0.32 0.021 262.554);

	--ring: oklch(0.616 0.183 262.945);

	--chart-1: oklch(0.616 0.183 262.945);
	--chart-2: oklch(0.547 0.16 262.936);
	--chart-3: oklch(0.453 0.129 262.992);
	--chart-4: oklch(0.404 0.113 263.327);
	--chart-5: oklch(0.354 0.094 262.863);

	--sidebar: oklch(0.272 0.014 261.685);
	--sidebar-foreground: oklch(0.941 0.025 263.328);
	--sidebar-primary: oklch(0.616 0.183 262.945);
	--sidebar-primary-foreground: oklch(0.961 0.017 267.791);
	--sidebar-accent: oklch(0.616 0.183 262.945);
	--sidebar-accent-foreground: oklch(0.961 0.017 267.791);
	--sidebar-border: oklch(0.217 0.048 263.587);
	--sidebar-ring: oklch(0.616 0.183 262.945);

	--data-enrichment: oklch(0.616 0.183 262.945);
	--data-transformation: oklch(0.897 0.221 124.384);
	--parsing-and-extraction: oklch(81.511% 0.14191 81.163);
	--filtering-and-cleanup: oklch(70.369% 0.16151 302.14);
	--advanced: oklch(89.391% 0.16328 141.987);
	--conditional: oklch(65.919% 0.21285 359.391);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-conditional: var(--conditional);
	--color-data-enrichment: var(--data-enrichment);
	--color-data-transformation: var(--data-transformation);
	--color-parsing-and-extraction: var(--parsing-and-extraction);
	--color-filtering-and-cleanup: var(--filtering-and-cleanup);
	--color-advanced: var(--advanced);
}

@layer base {
	* {
		@apply border-border antialiased outline-ring/50;
		font-family: 'Urbanist', sans-serif;
	}
	body {
		@apply bg-background text-foreground;
	}
}
